@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary: rgb(86, 88, 214);
  --primary-transparent: rgba(86, 88, 214, 0.4);
  --first-grey: rgb(252, 252, 252);
  --second-grey: rgb(237, 237, 237);
  --third-grey: rgb(209, 209, 209);
  --good-green: #32cd32;
  --warning-yellow: #eed202;
  --bad-red: rgb(255, 0, 51);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.ok {
  color: var(--good-green) !important;
}

.warning {
  color: var(--warning-yellow) !important;
}

.bad {
  color: var(--bad-red) !important;
}
